{{#partial "content"}}
    <div class="row">
        <div class="col col-md-6">
            <h1>About HackAttack</h1>
            <p>HackAttack is an annual hackathon open to all those interested in web development! <br>
                Use any and all skills at your team's disposal to build a product within the 4 hour time frame. <br>
                Refreshments will be served as teams give short presentations on their creations. <br>
                The most inspiring, funny, or creative products will win prizes!</p>
        </div>
        <div class="col col-md-6">
            <img src="images/portland.jpg" width="100%">
        </div>
    </div>

{{/partial}}
{{> layout.hbs}}