{{#partial "content"}}

    <h1>Team List!</h1>

    {{#if teams}}
        {{#each teams}}
            <p><strong>Team name:</strong> {{name}} <br><a href="/teams/{{id}}">Team Details</a></p>
        {{/each}}
    {{else}}
        <p><strong>No Teams!</strong></p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}