<!DOCTYPE html>
<html>
    <head>
        <title>{{#block "title"}}Team Tracker{{/block}}</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <ul>
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/teams/new">Add a team</a></li>
        </ul>
        <div class="container">
            <div class="page-header">
                <img src="/images/Hackathon.jpg" width="70%">
                <h1>Welcome to the Annual Portland Hack-a-thon. <small>Register your team today!</small></h1>
            </div>

            <div class="col-md-12">
                {{#block "content"}}

                {{/block}}
            </div>
        </div>
    </body>
</html>