{{#partial "content"}}
    <h1>Edit this member</h1>
    <form action="/members/{{member.id}}" method="post">
        <br>
        <label for="name">Edit member name</label>
        <br>
        <input id="name" name="name" type="text" value="{{member.name}}">
        <br><br>
        <button type="submit" class="btn btn-danger">Change Name</button>
    </form>

    <br><br>
    <a href="/teams/{{team.id}}/members/{{member.id}}/delete">Delete this member</a>
{{/partial}}

{{> layout.hbs}}