{{#partial "content"}}
    <p><strong>Name:</strong> {{team.name}}</p>
    <p><strong>Description:</strong> {{team.description}}</p>
    <p><strong>Members:</strong></p>
        <ul>
            {{#each team.members}}
                <li>{{this}}</li>
            {{/each}}
        </ul>

{{/partial}}

{{> layout.hbs}}