{{#partial "content"}}
    <p>Name:</p>
    <p>{{team.name}}</p>
    <p>Description</p>
    <p>{{team.description}}</p>
    <p>Members:</p>

    <p>{{team.members}}</p>

{{/partial}}

{{> layout.hbs}}